/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.menu-section {
    &:not(:nth-child(1)) {
        border-top: 1px solid rgba( $GREY, 0.5 );
    }

    &__title {
        position: relative;
        padding: 12px 16px;
        color: $GREY_DARK;
        font: $FONT_MEDIUM_12_16;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        &::after {
            position: absolute;
            top: 0;
            left: 40px;
            width: 34px;
            height: 41px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $WHITE 100%);
            transition: opacity 0.9s;
            opacity: 0;
            content: "";
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0;
        list-style: none;
        overflow: hidden;

        & .list-element {
            position: relative;
            z-index: $Z_INDEX_LVL_0;
            width: 100%;
            height: 48px;
            background-color: $WHITE;
            cursor: pointer;

            &:not(.list-element--selected) {
                &:hover {
                    z-index: $Z_INDEX_NAV;
                    background-color: $WHITESMOKE;
                    box-shadow: $ELEVATOR_2_DP;

                    span {
                        color: $GRAPHITE_DARK;
                    }
                }
            }

            &__link {
                display: flex;
                align-items: center;
                height: 100%;
                text-decoration: none;
                padding: 0 24px;

                & .link-text {
                    margin-left: 24px;
                    color: $GRAPHITE;
                    font: $FONT_MEDIUM_16_24;
                    text-align: left;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                }
            }

            &--selected {
                background-color: $GREEN;
                color: $WHITE;

                .link-text {
                    color: $WHITE;
                }
            }
        }
    }
}
