/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
$primary: #00bc87;
$information: #4c9aff;
$error: #f44336;
$warning: #ffc108;
$success: #00bc87;
$lightGreen: #e8f6ed;
$lightRed: #feeceb;
$darkGraphite: #33373e;
$graphite: #5c5f65;
$lightGraphite: #85878b;
$darkGrey: #adafb2;
$grey: #d6d7d8;
$lightGrey: #ebebec;
$background: #fafafa;
$white: #fff;
