/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
$Z_INDEX_UNSET: 'unset';
$Z_INDEX_NEGATIVE: -1;
$Z_INDEX_LVL_0: 0;
$Z_INDEX_LVL_1: 100;
$Z_INDEX_LVL_2: 200;
$Z_INDEX_LVL_3: 300;
$Z_INDEX_LVL_4: 400;
$Z_INDEX_LVL_5: 500;
$Z_INDEX_LVL_6: 600;
$Z_INDEX_LVL_7: 700;
$Z_INDEX_LVL_8: 800;
$Z_INDEX_LVL_9: 900;
$Z_INDEX_LVL_MAX: 1000;
$Z_INDEX_DROP_DOWN: 8000;
$Z_INDEX_NAV: 9000;
$Z_INDEX_TRASH: 9800;
$Z_INDEX_MODAL: 9900;
$Z_INDEX_ALERT: 10000;
$Z_INDEX_MAX: 99999;

:export {
    Z_INDEX_UNSET: $Z_INDEX_UNSET;
    Z_INDEX_NEGATIVE: $Z_INDEX_NEGATIVE;
    Z_INDEX_LVL_0: $Z_INDEX_LVL_0;
    Z_INDEX_LVL_1: $Z_INDEX_LVL_1;
    Z_INDEX_LVL_2: $Z_INDEX_LVL_2;
    Z_INDEX_LVL_3: $Z_INDEX_LVL_3;
    Z_INDEX_LVL_4: $Z_INDEX_LVL_4;
    Z_INDEX_LVL_5: $Z_INDEX_LVL_5;
    Z_INDEX_LVL_6: $Z_INDEX_LVL_6;
    Z_INDEX_LVL_7: $Z_INDEX_LVL_7;
    Z_INDEX_LVL_8: $Z_INDEX_LVL_8;
    Z_INDEX_LVL_9: $Z_INDEX_LVL_9;
    Z_INDEX_LVL_MAX: $Z_INDEX_LVL_MAX;
    Z_INDEX_DROP_DOWN: $Z_INDEX_DROP_DOWN;
    Z_INDEX_NAV: $Z_INDEX_NAV;
    Z_INDEX_TRASH: $Z_INDEX_TRASH;
    Z_INDEX_MODAL: $Z_INDEX_MODAL;
    Z_INDEX_ALERT: $Z_INDEX_ALERT;
    Z_INDEX_MAX: $Z_INDEX_MAX;
}
