/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */

$FONT_MEDIUM_12_16: 500 12px/16px "Inter UI", sans-serif;
$FONT_MEDIUM_14_20: 500 14px/20px "Inter UI", sans-serif;
$FONT_MEDIUM_16_24: 500 16px/24px "Inter UI", sans-serif;
$FONT_MEDIUM_24_32: 500 24px/32px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_10_12: 600 10px/12px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_12_16: 600 12px/16px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_14_16: 600 14px/16px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_14_20: 600 14px/20px "Inter UI", sans-serif;
$FONT_BOLD_12_16: 700 12px/16px "Inter UI", sans-serif;
