/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */

$FONT_MEDIUM_S_1: 500 12px/16px "Inter UI", sans-serif;
$FONT_MEDIUM_M_2: 500 14px/20px "Inter UI", sans-serif;
$FONT_MEDIUM_L_3: 500 16px/24px "Inter UI", sans-serif;
$FONT_MEDIUM_XL_4: 500 24px/32px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_XS_1: 600 10px/16px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_S_1: 600 12px/16px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_M_1: 600 14px/16px "Inter UI", sans-serif;
$FONT_SEMI_BOLD_M_2: 600 14px/20px "Inter UI", sans-serif;
$FONT_BOLD_S_1: 700 12px/16px "Inter UI", sans-serif;
