/*
 * Copyright © Ergonode Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
 /* stylelint-disable */
:export {
    BORDER_1_GRAPHITE_DARK: $BORDER_1_GRAPHITE_DARK;
    BORDER_1_GREY: $BORDER_1_GREY;
    BORDER_2_GREY: $BORDER_2_GREY;
    BORDER_2_GREEN: $BORDER_2_GREEN;
    BORDER_2_BLUE: $BORDER_2_BLUE;
    BORDER_2_RED: $BORDER_2_RED;
    BORDER_2_YELLOW: $BORDER_2_YELLOW;
    BORDER_2_GRAPHITE_LIGHT: $BORDER_2_GRAPHITE_LIGHT;
    BORDER_2_WHITESMOKE: $BORDER_2_WHITESMOKE;
    BORDER_2_WHITE: $BORDER_2_WHITE;
    BORDER_DASHED_GREEN: $BORDER_DASHED_GREEN;
    BORDER_2_DASHED_GREEN: $BORDER_2_DASHED_GREEN;
    BORDER_DASHED_RED: $BORDER_DASHED_RED;
    BORDER_DASHED_GREY: $BORDER_DASHED_GREY;
}
