/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
 /* stylelint-disable */
:export {
    GREEN_DARK: $GREEN_DARK;
    GREEN: $GREEN;
    GREEN_LIGHT: $GREEN_LIGHT;
    BLUE_DARK: $BLUE_DARK;
    BLUE: $BLUE;
    BLUE_LIGHT: $BLUE_LIGHT;
    RED: $RED;
    RED_LIGHT: $RED_LIGHT;
    YELLOW: $YELLOW;
    YELLOW_LIGHT: $YELLOW_LIGHT;
    GRAPHITE_COAL: $GRAPHITE_COAL;
    GRAPHITE_DARK: $GRAPHITE_DARK;
    GRAPHITE: $GRAPHITE;
    GRAPHITE_LIGHT: $GRAPHITE_LIGHT;
    GREY_DARK: $GREY_DARK;
    GREY: $GREY;
    GREY_LIGHT: $GREY_LIGHT;
    WHITESMOKE: $WHITESMOKE;
    WHITE: $WHITE;
}
