/*
 * Copyright © Ergonode Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
 /* stylelint-disable */
 :export {
    ELEVATOR_2_DP: $ELEVATOR_2_DP;
    ELEVATOR_6_DP: $ELEVATOR_6_DP;
    ELEVATOR_12_DP: $ELEVATOR_12_DP;
    ELEVATOR_HOLE: $ELEVATOR_HOLE;
}
