/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
$Z_INDEX_UNSET: "unset";
$Z_INDEX_NEGATIVE: -1;
$Z_INDEX_LVL_0: 0;
$Z_INDEX_LVL_1: 10;
$Z_INDEX_LVL_2: 20;
$Z_INDEX_LVL_3: 30;
$Z_INDEX_LVL_4: 40;
$Z_INDEX_LVL_5: 50;
$Z_INDEX_LVL_6: 60;
$Z_INDEX_LVL_7: 70;
$Z_INDEX_LVL_8: 80;
$Z_INDEX_LVL_9: 90;

// custom z-indexes
$Z_INDEX_LVL_MAX: 100;
$Z_INDEX_NAV: 960;
$Z_INDEX_MODAL: 980;
$Z_INDEX_ALERT: 990;
$Z_INDEX_MAX: 1000;
