/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.page-selector {
    display: flex;
    align-items: center;
    justify-self: flex-start;

    &__text {
        @include setFont(medium, small, regular, $darkGraphite);

        flex: 0 0 auto;
        margin: 0 4px;
    }
}
