/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.pagination {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    column-gap: 8px;
    margin: auto;

    &__text, &__number {
        color: $GRAPHITE_DARK;
    }

    &__icon {
        color: $GRAPHITE_LIGHT;
    }

    .non-visible {
        visibility: hidden;
    }
}
