/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
 /* stylelint-disable */
:export {
    Z_INDEX_UNSET: $Z_INDEX_UNSET;
    Z_INDEX_NEGATIVE: $Z_INDEX_NEGATIVE;
    Z_INDEX_LVL_0: $Z_INDEX_LVL_0;
    Z_INDEX_LVL_1: $Z_INDEX_LVL_1;
    Z_INDEX_LVL_2: $Z_INDEX_LVL_2;
    Z_INDEX_LVL_3: $Z_INDEX_LVL_3;
    Z_INDEX_LVL_4: $Z_INDEX_LVL_4;
    Z_INDEX_LVL_5: $Z_INDEX_LVL_5;
    Z_INDEX_LVL_6: $Z_INDEX_LVL_6;
    Z_INDEX_LVL_7: $Z_INDEX_LVL_7;
    Z_INDEX_LVL_8: $Z_INDEX_LVL_8;
    Z_INDEX_LVL_9: $Z_INDEX_LVL_9;
    Z_INDEX_LVL_MAX: $Z_INDEX_LVL_MAX;
    Z_INDEX_DROP_DOWN: $Z_INDEX_DROP_DOWN;
    Z_INDEX_NAV: $Z_INDEX_NAV;
    Z_INDEX_TRASH: $Z_INDEX_TRASH;
    Z_INDEX_MODAL: $Z_INDEX_MODAL;
    Z_INDEX_ALERT: $Z_INDEX_ALERT;
    Z_INDEX_MAX: $Z_INDEX_MAX;
}
