/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */

@mixin dot($width: $dotWidth, $height: $dotHeight, $radius: $dotRadius,$bgColor: $GREEN, $color: $GREEN ) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bgColor;
    color: $color;
}
