/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
/// Mixin to customize scrollbars | Beware, this does not work in all browsers
/// @author Piotr (bleto) Bletek
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $color - Scrollbar's color
/// @param {Color} $WHITESMOKE [mix($color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, #000);

@mixin scrollbars($size, $color, $WHITESMOKE: mix($color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $size;
        background: $color;
    }

    &::-webkit-scrollbar-track {
        background: $WHITESMOKE;
    }

    body { // For Internet Explorer
        scrollbar-face-color: $color;
        scrollbar-track-color: $WHITESMOKE;
    }
}
