/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.btn {
    $btn: &;

    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    padding: 0 16px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled):not(.btn--plain) {
        box-shadow: $ELEVATOR_2_DP;
    }

    &__title {
        color: $WHITE;
        letter-spacing: 0.5px;
    }

    &--primary {
        background-color: $GREEN;

        &:disabled {
            background-color: $GREY;
        }
    }

    &--secondary {
        background-color: transparent;

        #{$btn}__title {
            color: $GRAPHITE;
        }

        &:disabled {
            #{$btn}__title {
                color: $GREY_DARK;
            }
        }

        &:hover:not(:disabled):not(.btn--plain) {
            background-color: $WHITE;
        }
    }

    &--small {
        height: 32px;
        padding: 0 12px;
    }

    &--tiny {
        height: 24px;
        padding: 0 8px;
    }
}
