/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.draggable {
    background-color: $lightGrey;
    box-shadow:
        inset 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        inset 0 3px 1px 0 rgba(0, 0, 0, 0.12),
        inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
