/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */

.fab-btn {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    cursor: pointer;
    outline: none;
    border-radius: 50%;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled):not(.fab-btn--plain) {
        box-shadow: $ELEVATOR_2_DP;
    }

    &--primary {
        background-color: $GREEN;

        &:disabled {
            background-color: $GREY;
        }
    }

    &--secondary {
        background-color: transparent;

        &:hover:not(:disabled) {
            background-color: $WHITE;
        }
    }
}
