/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
@import "_extends/input-line";

.input {
    $input: &;

    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $WHITE;

    &__activator {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;

        &--small {
            flex-basis: 32px;

            input::placeholder, input {
                @include setFont(medium, small, regular, $GRAPHITE_DARK);
            }

            input::placeholder {
                opacity: 0.4;
            }
        }

        &--regular {
            flex-basis: 40px;

            input::placeholder, input {
                @include setFont(medium, regular, regular, $GRAPHITE_DARK);
            }

            input::placeholder {
                opacity: 0.4;
            }
        }

        input, textarea {
            flex: 1;
            outline: none;
            width: 100%;
            max-width: 100%;
            min-width: 0;
            border: none;
        }

        textarea, textarea::placeholder {
            @include setFont(medium, regular, regular, $GRAPHITE_DARK);
        }

        textarea {
            height: 100%;

            &::placeholder {
                opacity: 0.4;
            }
        }
    }

    &__information-label {
        margin-top: 2px;
        word-break: break-word;
    }

    &.floating-label {
        margin-top: 6px;

        #{$input}__label {
            position: absolute;
            background-color: $WHITE;
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
            color: $GRAPHITE_LIGHT;
            padding-left: 2px;

            &--required {
                padding-right: 8px;
            }

            &--required::after {
                position: absolute;
                color: $RED;
                content: "*";
            }
        }
    }

    &.solid {
        #{$input}__activator {
            border: 1px solid $GREY;
            padding: 4px;
            box-sizing: border-box;

            input, textarea {
                margin-left: 8px;
            }
        }

        #{$input}__label {
            position: absolute;
            color: $GRAPHITE_LIGHT;
            margin-left: 6px;
        }

        #{$input}__information-label {
            margin-left: 12px;
        }

        &:hover {
            border-color: $GREEN;
        }
    }

    &.underline {
        #{$input}__activator::before {
            bottom: 0;
            width: 100%;
            border: solid $GREY;
            border-width: thin 0 0;
            @extend %defaultLine;
        }

        #{$input}__activator:hover::before {
            border-color: $GREEN;
        }
    }

    &.left-alignment {
        #{$input}__activator {
            input, textarea {
                text-align: left;
            }
        }

        #{$input}__activator::after {
            bottom: 0;
            right: 100%;
            height: 2px;
            background-color: $GREEN;
            @extend %defaultLine;
        }
    }

    &.center-alignment {
        #{$input}__activator {
            input, textarea {
                text-align: center;
            }
        }

        #{$input}__activator::after {
            bottom: -1px;
            width: 100%;
            border: solid $GREY;
            border-width: thin 0;
            transform: scaleX(0);
            @extend %defaultLine;
        }
    }

    &--focused {
        &.left-alignment {
            #{$input}__activator::after {
                right: 0;
            }
        }

        &.center-alignment {
            #{$input}__activator::after {
                transform: scaleX(1);
            }
        }

        &:not(#{$input}--error) {
            &.floating-label {
                #{$input}__label {
                    color: $GREEN;
                }
            }

            &.center-alignment {
                #{$input}__activator::after {
                    border-color: $GREEN;
                }
            }

            &.solid {
                #{$input}__activator {
                    border: 2px solid $GREEN;
                    padding: 3px;

                    &::after {
                        transform: scaleX(0);
                    }
                }

                #{$input}__content::after {
                    transform: scaleX(0);
                }
            }
        }

        &.input--error {
            &.solid {
                #{$input}__activator {
                    border: 2px solid $RED;
                    padding: 3px;
                }
            }

            &.floating-label {
                #{$input}__label {
                    color: $RED;
                }
            }
        }
    }

    &--error {
        &.left-alignment {
            #{$input}__activator::after {
                background-color: $RED;
            }
        }

        &.underline {
            #{$input}__activator:hover::before {
                border-color: $RED;
            }
        }

        &:not(#{$input}--focused) {
            &.solid {
                #{$input}__activator {
                    border: 1px solid $RED;
                }
            }
        }
    }

    &--disabled {
        pointer-events: none;

        #{$input}__activator {
            background-color: $WHITESMOKE;

            input, textarea {
                background-color: $WHITESMOKE;
                opacity: 0.4;
                color: $GRAPHITE_DARK;
            }
        }
    }
}
