/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.input-control {
    position: relative;
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    border-radius: 4px;

    .content {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &--fab {
        border-radius: 50%;
    }

    &--rounded {
        border-radius: 999px;
    }

    &:hover {
        box-shadow: $ELEVATOR_2_DP;
    }
}
