/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.theme {
    &--dark > * {
        color: $GRAPHITE;
    }

    &--light > * {
        color: $WHITE;
    }

    &.primary {
        background-color: $GREEN;
    }

    &.information {
        background-color: $BLUE;
    }

    &.error {
        background-color: $RED;
    }

    &.warning {
        background-color: $YELLOW;
    }

    &.success {
        background-color: $GREEN;
    }

    &.transparent {
        background-color: transparent;
    }
}
