/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
@import "reset";

html, body {
    @include setFont(medium, regular, regular, $GRAPHITE_DARK);

    -webkit-text-size-adjust: 100%; //fix for iOS
}

.l-spacing {
    &--half {
        letter-spacing: 0.5px;
    }

    &--quarter {
        letter-spacing: 0.25px;
    }

    &--negative-half {
        letter-spacing: -0.5px;
    }
}

.typo-title {
    @include setFont(medium, huge, large);
}

.typo-list {
    @include setFont(medium, medium, medium);
}

.typo-subtitle {
    @include setFont(medium, regular, semiRegular);
}

.typo-btn {
    @include setFont(semiBold, regular, regular);

    &--xs {
        @include setFont(medium, small, regular);
    }
}

.typo-label {
    @include setFont(semiBold, small, regular);

    &--strong {
        @include setFont(bold, small, regular);
    }
}

.typo-input {
    @include setFont(medium, small, regular);
}

.typo-hint {
    @include setFont(medium, tiny, tiny);
}

.txt-fixed {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.txt {
    //  Colors
    &--primary {
        color: $GREEN;
    }

    &--information {
        color: $BLUE;
    }

    &--error {
        color: $RED;
    }

    &--warning {
        color: $YELLOW;
    }

    &--success {
        color: $GREEN;
    }

    &--dark-graphite {
        color: $GRAPHITE_DARK;
    }

    &--graphite {
        color: $GRAPHITE;
    }

    &--light-graphite {
        color: $GRAPHITE_LIGHT;
    }

    &--dark-grey {
        color: $GREY_DARK;
    }

    &--grey {
        color: $GREY;
    }

    &--light-grey {
        color: $GREY_light;
    }

    &--background {
        color: $WHITESMOKE;
    }

    &--white {
        color: $WHITE;
    }

    // Alignment
    &--centered {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    // Transform
    &--capital {
        text-transform: capitalize;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--lower {
        text-transform: lowercase;
    }

    &--none {
        text-transform: none;
    }
}
