.placeholder-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    .wrapper__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 700px;
        min-width: 370px;
        margin-top: 24px;

        .comet {
            margin: 24px 48px 0 0;
        }

        .air {
            margin-top: 24px;
        }

        .delorean {
            margin: 24px 48px 0 0;
        }

        .section__info {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 260px;
            margin-top: 24px;

            .info__header {
                height: 56px;
                min-width: 1px;
                color: $GREEN;
            }

            .info__text {
                margin-top: 24px;
                color: $GRAPHITE_DARK;
            }

            .info__button {
                margin-top: 24px;
            }
        }

        .section__quotation {
            max-width: 700px;
            min-width: 370px;
            width: 100%;
            color: $GRAPHITE;
        }

        .section__video-link {
            margin: 24px 0 48px;
        }
    }

    .item-content__preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
