/*
 * Copyright © Ergonode Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
$GREEN_DARK: #00A979;
$GREEN: #00BC87;
$GREEN_LIGHT: #EBF7EF;
$BLUE_DARK: #0048DF;
$BLUE: #2096F3;
$BLUE_LIGHT: #DFF1FF;
$RED: #F44336;
$RED_LIGHT: #FFF0F0;
$YELLOW: #FFC108;
$YELLOW_LIGHT: #FFF6DC;
$GRAPHITE_COAL: #252832;
$GRAPHITE_DARK: #33393F;
$GRAPHITE: #5C6064;
$GRAPHITE_LIGHT: #85888B;
$GREY_DARK: #ADB0B3;
$GREY: #D6D8DA;
$GREY_LIGHT: #EBEDEF;
$WHITESMOKE: #F5F6F7;
$WHITE: #FFFFFF;
$BLACK: #000000;
