/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
$BORDER_1_GRAPHITE_DARK: 1px solid $GRAPHITE_DARK;
$BORDER_1_GREY: 1px solid $GREY;
$BORDER_2_GREY: 2px solid $GREY;
$BORDER_2_GREEN: 2px solid $GREEN;
$BORDER_2_BLUE: 2px solid $BLUE;
$BORDER_2_RED: 2px solid $RED;
$BORDER_2_YELLOW: 2px solid $YELLOW;
$BORDER_2_GRAPHITE_LIGHT: 2px solid $GRAPHITE_LIGHT;
$BORDER_DASHED_GREEN: 1px dashed $GREEN;
$BORDER_2_DASHED_GREEN: 2px dashed $GREEN;
$BORDER_DASHED_RED: 1px dashed $RED;
$BORDER_DASHED_GREY: 1px dashed $GREY;
