/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.navigation-bar {
    $toolbar: &;

    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $toolBarHeight;
    background-color: $GRAPHITE_DARK;
    box-shadow: $ELEVATOR_6_DP;

    &__section {
        display: flex;

        &.left {
            & > * {
                border-right: 1px solid rgba($GRAPHITE, 0.5);
            }
        }

        &.right {
            & > * {
                border-left: 1px solid rgba($GRAPHITE, 0.5);
            }
        }
    }
}
