/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.navigation-bar {
    $toolbar: &;

    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $toolBarHeight;
    background-color: $GRAPHITE_DARK;
    box-shadow: $ELEVATOR_6_DP;

    &__section {
        $section: &;

        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1px;
        background-color: rgba($GRAPHITE, 0.4);

        &:nth-child(1) {
            border-right: 1px solid rgba($GRAPHITE, 0.4);
        }

        &:nth-child(2) {
            border-left: 1px solid rgba($GRAPHITE, 0.4);
        }
    }
}
