/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.navigation-bar {
    $toolbar: &;

    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $toolBarHeight;
    background-color: $darkGraphite;
    box-shadow:
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);

    &__section {
        display: flex;

        &.left {
            & > * {
                border-right: 1px solid rgba($graphite, 0.5);
            }
        }

        &.right {
            & > * {
                border-left: 1px solid rgba($graphite, 0.5);
            }
        }
    }
}
