/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.side-bar-wrapper {
    z-index: 9990;
    width: 0;
    background-color: $white;
    transition:
        width 0.3s,
        opacity 0.3s;
    will-change:
        width,
        opacity;

    .side-bar {
        position: sticky;
        height: 100%;
        background-color: $white;
        box-shadow:
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2);
        transition: inherit;
        letter-spacing: 0.1px;
        padding-bottom: $toolBarHeight;
        overflow-y: auto;
        overflow-x: hidden;

        &:hover {
            width: $sideBarMaxWidth;
            transition-delay: 0.3s;

            .menu-section__title::after {
                opacity: 0;
            }
        }

        &__content {
            width: $sideBarMaxWidth;
        }
    }
}

.menu--full {
    width: $sideBarMaxWidth;

    .menu-section__title::after {
        opacity: 0;
    }
}

.menu--icons {
    width: $sideBarMinWidth;
}

.menu--hidden {
    width: 0;

    .menu-section__title::after {
        opacity: 0;
    }
}
