/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.tool-bar {
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $toolBarHeight;
    background-color: $darkGraphite;
    box-shadow:
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);

    &__part {
        display: flex;

        &--right {
            & .part__element {
                border-left: 1px solid rgba($graphite, 0.5);
            }
        }

        &:not(&--right) {
            & .part__element {
                border-right: 1px solid rgba($graphite, 0.5);
            }
        }

        & .part__element {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 24px;
            cursor: pointer;
            outline: 0;

            &:hover {
                background-color: rgba($graphite, 0.5);
            }

            &--user {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                & .user-button__avatar {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }

                & .user-button__name {
                    @include setFont(semiBold, regular, medium, $white);
                    margin-left: 8px;
                }

                & .user-button__arrow-container {
                    display: flex;
                    margin-right: -8px;
                }

                .user-menu {
                    position: absolute;
                    top: $toolBarHeight;
                    right: -1px;
                    z-index: 1;
                    width: 320px;
                    background-color: $white;
                    box-shadow:
                        0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.12),
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
                    transition: all 0.4s ease;
                    opacity: 0;
                    visibility: hidden;
                    color: $graphite;
                    cursor: default;

                    &--active {
                        opacity: 1;
                        visibility: visible;
                    }

                    &__top {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 24px 19px;

                        & .user-img {
                            margin: 0 20px 0 5px;
                            border-radius: 50%;
                        }

                        & .user-data {
                            display: flex;
                            flex-wrap: wrap;
                            overflow: hidden;

                            &__name {
                                @include setFont(medium, medium, medium, $darkGraphite, 0.1);
                                width: 100%;
                            }

                            &__email {
                                @include setFont(medium, small, regular, $darkGrey);
                            }
                        }
                    }

                    &__bottom {
                        display: flex;
                        justify-content: flex-end;
                        align-content: flex-end;
                        width: 100%;
                    }

                    & .bottom__logout {
                        margin: 8px 16px 16px 0;
                    }
                }
            }
        }

        .user-button--active {
            background-color: rgba($graphite, 0.5);
        }
    }
}
