/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.page-selector {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    column-gap: 8px;

    &__text {
        flex: 0 0 auto;
        color: $GRAPHITE_DARK;
    }
}
