/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.button {
    $button: &;

    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled):not(&--plain), &:focus {
        box-shadow: $ELEVATOR_HOVER_FOCUS;
    }

    &__title {
        margin: 0 4px;
        letter-spacing: 0.5px;
    }

    &--primary {
        background-color: $GREEN;
        color: $WHITE;

        &:disabled {
            background-color: $GREY;
        }
    }

    &--secondary {
        background-color: transparent;
        color: $GRAPHITE;

        &:disabled {
            color: $GREY_DARK;
        }

        &:hover:not(:disabled):not(#{$button}--plain) {
            background-color: $WHITE;
        }
    }

    &--regular {
        height: 40px;
        padding: 0 12px;
        font: $FONT_BOLD_14_20;
    }

    &--small {
        height: 32px;
        padding: 0 8px;
    }

    &--tiny {
        height: 24px;
        padding: 0 4px;
    }

    &--tiny, &--small {
        #{$button}__title {
            font: $FONT_BOLD_12_16;
        }
    }
}
