/*
 * Copyright © Bold Brand Commerce Sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
.button {
    $button: &;

    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:not(&--small):not(&--tiny):not(&--fab) {
        height: 40px;
        padding: 0 12px;
        font: $FONT_SEMI_BOLD_14_20;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled):not(&--plain), &:focus {
        box-shadow: $ELEVATOR_HOVER_FOCUS;
    }

    &__title {
        margin: 0 4px;
        color: $WHITE;
        letter-spacing: 0.5px;
    }

    &--primary {
        background-color: $GREEN;

        &:disabled {
            background-color: $GREY;
        }
    }

    &--secondary {
        background-color: transparent;

        #{$button}__title {
            color: $GRAPHITE;
        }

        &:disabled {
            #{$button}__title {
                color: $GREY_DARK;
            }
        }

        &:hover:not(:disabled):not(#{$button}--plain) {
            background-color: $WHITE;
        }
    }

    &--small {
        height: 32px;
        padding: 0 8px;
    }

    &--tiny {
        height: 24px;
        padding: 0 4px;
    }

    &--fab {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        padding: 0;
    }

    &--tiny, &--small {
        #{$button}__title {
            font: $FONT_SEMI_BOLD_12_16;
        }
    }
}
